.gameList {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.column {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}
