.footer {

    margin-top: 50px;
    background-color: black;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer h4 {

    font-size: 38px;
    display: block;
    padding-top: 30px;
    margin-bottom: 10px;
}

.lists {

    display: flex;
    margin: auto;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.69);
    margin-bottom: 40px;


}

.lists b {

    font-size: 18px;
}

.lists span {
    display: block;
    margin: 5px 0 5px 0;
}

.links {

    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;

}

.links p {
    text-decoration: underline;
}
