@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

button {
    color: black;
    outline-color:  aqua;
}

li {
    list-style: none;
}