@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Rubik", sans-serif;
  box-sizing: content-box;
  outline-color: blueviolet;
}

a {
  text-decoration: none;
}

button {
  color: black;
}

li {
  list-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}
