@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

button {
    color: black;
    outline-color:  aqua;
}